

@{
    ViewData["Title"] = "OrderSucessPage";
}

<h1>Hey @ViewBag.userName YOUR ORDER PLACED SUCCESFULLY ORDER ID :@ViewBag.orderId</h1>

<img src="/images/ordersuccess.jpg" style="position:absolute;z-index:-1;height:60%;" />


<p style="color:white;padding:2cm;font-size:2rem;font-weight:bolder;">Be Ready!!! your pizza on the way<br />Enjoy Your Pizza</p>
